{%extends "base.html.twig" %}

{%block title %}Cadastro de Usuarios{%endblock%}

{%block topo %}
<div class="topo">
        <img src="{{asset('img/logo.jpg')}}" />
</div>
{%endblock%}

{%block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style.css')}}" />
{%endblock%}


{%block body %}
<div class="sucesso">
        <p>{{fulano}}, cadastrado com sucesso</strong></p>
</div>
{%endblock%}